.autogen
.git
.github
.travis
.vscode
.config
Dockerfile
build/
built/
packages/*/built/
packages/*/*/built/
packages/*/built-test/
packages/*/js-built/
packages/*/temp/
db/
.devcontainer/compose.yml
node_modules/
packages/*/node_modules
redis/
files/
.pnp.*
.docker-cache/
.devcontainer/home-node/
.devcontainer/hanami_data/
.devcontainer/meili_data/
.venv/
.venv-*/
hanami-archive/
*.log
*.rdb

# .yarn関連
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.pnpm-store

.idea/
packages/*/.vscode/
packages/backend/test/compose.yml
